<div class="title">Step 3: Database</div>

<form>

  <div class="input_wrapper">
    <label>Database Host</label>
    <input name="host" type="text" class="bof_input" value="localhost">
  </div>
  <div class="input_wrapper">
    <label>Database Name</label>
    <input name="name" type="text" class="bof_input">
  </div>
  <div class="input_wrapper">
    <label>Database User-name</label>
    <input name="user" type="text" class="bof_input">
  </div>
  <div class="input_wrapper">
    <label>Database User-password</label>
    <input name="pass" type="text" class="bof_input">
  </div>

  <div class="input_wrapper">
    <label>Admin email</label>
    <input name="a_email" type="text" class="bof_input">
  </div>
  <div class="input_wrapper">
    <label>Admin password</label>
    <input name="a_pass" type="password" class="bof_input">
  </div>
  <div class="input_wrapper">
    <label>Admin password - repeat</label>
    <input name="a_pass2" type="password" class="bof_input">
  </div>

</form>
