<div class="title">Step 5: Diagnostics</div>

<form>

  <div class="input_wrapper">
    <div class="types">
      <div class="type">
        <input name="type" type="radio" class="bof_input" value="none">
        <div class="detail_wrapper"><b>1. Necessary</b>: Purchase code, web address and plugin list will be shared with Busyowl's API server. We need this information to confirm your purchase</div>
      </div>
      <div class="type">
        <input name="type" type="radio" class="bof_input" value="basic" checked>
        <div class="detail_wrapper"><b>2. Basic</b>: Everything in `Necessary` + PHP's fatal errors and warnings + database's unsuccessful and time-consuming queries will be shared with Busyowl's API server</div>
      </div>
      <div class="type">
        <input name="type" type="radio" class="bof_input" value="advanced">
        <div class="detail_wrapper"><b>3. Advanced</b>: Everything in `Necessary` + `Basic` + A summary of your website's statistics. Knowing our clients better can drastically help us in bettering the script</div>
      </div>
    </div>

  </div>

</form>
