<div class="title">RKH-Music Installer</div>

Thank you for choosing RKH-Music. Please <a href='https://support.busyowl.co/documentation/installation_terms' target="_blank">click here to read our terms in full</a> and continue only if you can agree with them

<ul>
  <li>Every purchase code can be used for <underline>1 domain/IP-address</underline> only</li>
  <li>Re-installing on same domain/IP-address doesn't need a new purchase code or purchase code reset</li>
  <li>In case your domain or IP-address changes or you need to re-install somewhere else, You can use <a href="https://support.busyowl.co" target="_blank">Busyowl's support panel</a> to reset a license <underline>2 times</underline></li>
</ul>
